body {
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.mosca1 {
	width: 60px;
	height: 60px;
}

.mosca2 {
	width: 80px;
	height: 80px;
}

.mosca3 {
	width: 40px;
	height: 40px;
}

.ladoA {
	transform: scaleX(1);
}

.ladoB {
	transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border: solid 5px #fff;
	background-color: #fff;
	opacity: 0.7
}

.vidas {
	float: left;
	padding: 5px;
}

.cronometro {
	font-size: 20px;
	font-weight: bold;
	
}
